<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/profileshahis/AppUi/templates/portfolio.css">
    

    <title>jabeel shahis ak</title>
  </head>
  <body class="container">
   <header class="  p-4">
        <div class="row ">
            <div class="col-md-6 col-9 pl-5 logo ">
                <h2>Js</h2>
            </div>
            <div class="col-md-6 col-3">
                <nav class="navbar navbar-expand-lg  logo1">
                    <div class="container-fluid d-flex justify-content-end">
                      
                      <button class="navbar-toggler logo ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"   aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon justify-content-end"></span>
                      </button>
                      <div class="collapse navbar-collapse logo justify-content-end" id="navbarTogglerDemo02">
                        <ul class="navbar-nav  mb-2 mb-lg-0  ">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Education</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link " aria-disabled="true">Works</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" aria-disabled="true">Contact Me</a>
                          </li>
                        </ul>
                        
                      </div>
                    </div>
                  </nav>
            </div>
        </div>
    </header>

    <section class="container">
      <div class="grid-container grid-md">
        <!-- First row -->
        <div id="div-combine" class="grid-item content-box1 ">
          <div class="box1-img">
            <img src="https://assets.website-files.com/642c1cd7bcb742b83f7049e8/64318d35e2d0573080e9d9d1_avatar.png" alt="">
          </div>
          <div>
            <p class="main-text">Hi,I'm Shahis</p>
          </div>
          <div class="p-1">
          </div>

         <div class="content-box">
           <div>A PYTHON ANGULAR DEVELOPER</div>
           <div class="">
            <i class="fa-solid fa-arrow-up-right-from-square fa-fade fa-sm" style="color: #808b9f;"></i>
           </div>

          </div>
        </div>

        <div class="grid-item ">
          <div class="content-icon">
            <i class="fa-solid fa-briefcase fa-2xl" style="color: #808b9f;"></i>
          </div>

          <div class="">
            <p class="content-text">See my works</p>
          </div>
          <div class="content-box">
            <div>EXPLORE</div>
            <div><i class="fa-solid fa-arrow-up-right-from-square fa-fade fa-sm" style="color: #808b9f;"></i></div>
          </div>
        </div>
        
        <div class="grid-item">
          <div class="content-icon">
            <i class="fa-regular fa-id-badge fa-2xl" style="color: #808b9f;"></i>
          </div>

          <div class="">
            <p class="content-text">See my resume</p>
          </div>
          <div class="content-box">
            <div>EXPLORE</div>
            <div><i class="fa-solid fa-arrow-up-right-from-square fa-fade fa-sm" style="color: #808b9f;"></i></div>
          </div>
        </div>
        
        
        <!-- Second row -->
        <div class="grid-item">Row 2, Col 1</div>
        <div class="grid-item">Row 2, Col 2</div>
        <div class="grid-item">Row 2, Col 3</div>
        <div class="grid-item">Row 2, Col 4</div>

        <!-- Third row -->
        <div class="grid-item">Row 3, Col 1</div>
        <div class="grid-item">Row 3, Col 2</div>
        <div class="grid-item">Row 3, Col 3</div>
        <div class="grid-item">Row 3, Col 4</div>
    </div>
    </section>
   


    <script src="https://kit.fontawesome.com/797f564d67.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
