<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jabeel Shahis ak</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="container">
    <header class=" bg-white p-4">
        <div class="row ">
            <div class="col-md-6 col-9 p-3 pl-5 ">
                <h2>Jabeel Shahis</h2>
            </div>
            <div class="col-md-6 col-3">
                <nav class="navbar navbar-expand-lg bg-white ">
                    <div class="container-fluid justify-content-end">
                      
                      <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon justify-content-end"></span>
                      </button>
                      <div class="collapse navbar-collapse  justify-content-end"              id="navbarTogglerDemo02">
                        <ul class="navbar-nav  mb-2 mb-lg-0  ">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Education</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link " aria-disabled="true">Works</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" aria-disabled="true">Contact Me</a>
                          </li>
                        </ul>
                        
                      </div>
                    </div>
                  </nav>
            </div>
        </div>
    </header>

    <section class="container p-4">
      <div class="row">
        <div class=" col-md-8 mt-5">
          <h1 class="display-1">Python Django(Angular)  <br>Web Developer</h1>
          <p class="lead">
            A passionate web developer with
            six months of hands-on experience
            in creating and maintaining web
            applications. I have a strong
            foundation in web technologies and a
            keen eye for design, making me a
            versatile developer capable of
            bringing ideas to life on the web
          </p>
        </div>
        <div class="col-md-6">
          
        </div>
      </div>
    </section>

    <section class="text-center p-4 ">
      <h2 class="p-4">Education History</h2>
      <div class="row  ">
        <div class="col-md-4">
          <div class="card mr-auto" style="width: 18rem;">
            <img class="card-img-top rounded-circle" src="https://th.bing.com/th/id/R.c6b7c96bdbcd18c269b1d92a6888026b?rik=AJIk9Z%2btmmQ8wg&riu=http%3a%2f%2fwww.entemalappuram.com%2fwp-content%2fuploads%2f2019%2f02%2fPSMO-College-Tirurangadi.jpg&ehk=ZduIPxMf47s20SQ7AakUcrOBHiaHwzHNQ172IKO2iws%3d&risl=&pid=ImgRaw&r=0&sres=1&sresct=1" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"> P.S.M.O College Tirurangadi<br> (2019-2022)</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Bachelor of Science in Mathematics
              </li>
              <li class="list-group-item">University of Calicut
              </li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mx-auto " style="width: 18rem;">
            <img class="card-img-top rounded-circle" src="https://bingo.icbse.com/business.jpg?action=logo&id=kn6jod" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">University of Calicut <br> (2019-2022)</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Bachelor of Science in Mathematics
              </li>
              <li class="list-group-item">At P.S.M.O College Tirurangadi,Malappuram
              </li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="card mx-auto mr-4" style="width: 18rem;">
            <img class="card-img-top rounded-circle" src="https://assets.sentinelassam.com/h-upload/2023/07/26/1600x960_470687-university-of-calicut.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">University of Calicut <br> (2019-2022)</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Bachelor of Science in Mathematics
              </li>
              <li class="list-group-item">At P.S.M.O College Tirurangadi,Malappuram
              </li>
              <li class="list-group-item">Vestibulum at eros</li>
            </ul>
          </div>
        </div>
      </div>
    </section>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>